<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <!--These jQuery libraries for
        chosen need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css"/>

    <!--These jQuery libraries for select2
         need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css"/>
    <script>
            $(document).ready(function () {
                //Select2
                $(".progLang").select2({
                    tags: true,
                });
                //Chosen

            });

    </script>
</head>
<body>
<form>
    <h4>Selections using Select2</h4>
    <select class="progLang" multiple="true" style="width: 200px; position: relative;">
            {% for com in data %}
                <option value="{{ com.id }}">{{ com.descricao }}</option>
            {% endfor %}
    </select>
</form>
</body>
</html>
